/*
* IMPORTS
*/

@import url('https://fonts.googleapis.com/css?family=Bangers');

/*
* KEYFRAMES / ANIMATIONS
*/

@keyframes colorChange {
  0% {  
    color: lightsalmon;
    text-shadow: 
    2px -2px 0 lightsalmon, 
    -2px 2px 2px gold, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }

  18% {  
    color: palevioletred;
    text-shadow: 
    2px -2px 0 palevioletred, 
    -2px 2px 2px lightsalmon, 
    -4px 4px 2px gold,
    -6px 6px 2px yellow, 
    -8px 8px 2px green;
    /* -10px 20px 2px lightblue;  */
  }

  36% {  
    color: lightblue;
    text-shadow: 
    2px -2px 0 lightblue, 
    -2px 2px 2px palevioletred, 
    -4px 4px 2px lightsalmon,
    -6px 6px 2px gold, 
    -8px 8px 2px yellow; 
    /* -10px 20px 2px green;  */
  }

  54% {  
    color: green;
    text-shadow: 
    2px -2px 0 green, 
    -2px 2px 2px lightblue, 
    -4px 4px 2px palevioletred,
    -6px 6px 2px lightsalmon, 
    -8px 8px 2px gold;
    /* -10px 20px 2px yellow;   */
  }
  
  72% {  
    color: yellow;
    text-shadow: 
    2px -2px 0 yellow, 
    -2px 2px 2px green, 
    -4px 4px 2px lightblue,
    -6px 6px 2px palevioletred, 
    -8px 8px 2px lightsalmon;
    /* -10px 20px 2px gold;   */
  }

  90% {  
    color: gold;
    text-shadow: 
    2px -2px 0 gold, 
    -2px 2px 2px yellow, 
    -4px 4px 2px green,
    -6px 6px 2px lightblue, 
    -8px 8px 2px palevioletred;
    /* -10px 20px 2px lightsalmon;     */
  }
  
  100% {  
    color: lightsalmon;
    text-shadow: 
    2px -2px 0 lightsalmon, 
    -2px 2px 2px gold, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }
}
.custom-heading-1 {
  text-align: center;  
  transition: text-shadow 2s;
  text-shadow: 
  1px -1px 0 lightsalmon, 
  -1px 2px 1px gold, 
  -2px 4px 1px yellow,
  -3px 6px 1px green, 
  -4px 8px 1px lightblue, 
  -5px 10px 1px palevioletred; 
  animation: colorChange 3s linear;
}
/*
* Menu System
*/ 

#menuSystemMainOptions {
  position: absolute;
  top: 192.5px;
  left: 14px;
}

#menuSystemMainOptions th{
  width: 192px;
}

.menuTable {
  width: 100px;
  height: 50px;
}

#menuTabOne, #menuTabTwo, #menuTabThree, #menuTabFour {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: black;
}

#menuTabOne {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 #4F2683, inset 0.1em 0.1em 0 0 rgb(172, 5, 5);
}

#menuTabTwo {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(38, 112, 131), inset 0.1em 0.1em 0 0 #4F2683;
}

#menuTabThree {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(45, 129, 37), inset 0.1em 0.1em 0 0 rgb(38, 112, 131);  
}

#menuTabFour {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0  rgb(172, 5, 5), inset 0.1em 0.1em 0 0 rgb(45, 129, 37);  
}

#menuSystemOne, #menuSystemTwo, #menuSystemThree, #menuSystemFour {
  width: 784px;
  height: 346px;
  position: absolute;
  top: 251px;
  left: 10px;
}

#menuSystemOne {
  border-top: 4px solid rgb(47, 20, 202);
  border-bottom: 4px solid rgb(47, 20, 202);
  border-left: 5px solid rgb(47, 20, 202);
  border-right: 5px solid rgb(47, 20, 202);
  transition: 1s;
  /* background-image: url('../images/space-ui-background-blue.png'); */
}

.menuSelected {
  background-color: grey;
}

#menuSystemTwo {
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
  display: none;
  /* background-image: url('../images/space-ui-background-red.png'); */
}

#menuSystemThree {
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  border-left: 5px solid green;
  border-right: 5px solid green;
  display: none;
  /* background-image: url('../images/space-ui-background-green.png'); */
}

#menuSystemFour {
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  border-left: 5px solid purple;
  border-right: 5px solid purple;
  display: none;
  /* background-image: url('../images/seamless-abstract-nebula.jpg'); */
}

/*
* Modal Stuff
*/

#tmodalTalents {
  color: black;
  width: 20px;
  height: 20px;
  background-color: #27ae60;
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 121px; 
}

#tmodalTalents:after {
  content: attr(data-hide);
  color: black;
  width: 30px;
  height: 30px;
  font-size: 12px;
  color: blue;
  font-weight: bold;
  position: absolute;
  transition: background-color 0.4s linear;
}

#tmodal:checked, #tmodalSettings:checked, #tmodalTalents:checked { 
  color: black;
  transition: background-color 0.3s linear;
}
#tmodal:checked:after, #tmodalSettings:checked:after, #tmodalTalents:checked:after {
  z-index: 22;
  margin-top: 2px;
}

#tmodal:checked ~ .modal, #tmodalSettings:checked ~ .modal, #tmodalTalents:checked ~ .modal {
  opacity: 1;
}

.modal, .modalSettings, .modalTalents {
  display: none;
  border: 1px solid black;
  z-index: 1;
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 590px;
  width: 790px; 
  background-color: rgba(0, 0, 0, .80);
}

/*put me somewhere*/

body{
  width: 1000px;
  max-width: 1000px;
  background-color: black;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: white;
  
  /*Stops users from highlighting, helps visuals a bit so everything isn't anchor blue*/
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}


/*
* Enemy Weight Bars
*/

#weightBarEnemy{
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  top: 11px;
  left: 337px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*
* Liftz
*/
#menuSystemOne {
  overflow-x: hidden;
  overflow-y: overlay;
}

.allLiftzTable {
  width: 784px;
}

.liftzRow {
  display:inline-block;
}

.liftSection {
  border: 1px solid transparent;
  border-image: url(../images/dyel1.png) 40% round;
  border-image-width: 24px;
  width: 245px;
  height: 335px;
}

#li01 {
  width: 50%;
  height: 35%;
  background-image: url(../images/mc1s.gif);
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

#ld01 {
  font-size: 13px;
  width: 90%;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  overflow: hidden;
}

#li01 {
  color: red;
  background-image: url('../images/mc1s.gif'); 
}

#lft01 {
  margin-bottom: 2px;
}

.liftGroup {
  display: inline-flex;
  font-size: 10px;
}

.liftGroupWidth {
  border: 1px solid transparent;
  border-image: url(../images/dyel1.png) 40% round;
  border-image-width: 24px;
  width: 74px;
  height: 50px;
}

